body{
    background-color: #303446;
    font-family: sans-serif;

}
#header{
    border:3px solid  snow;
    background-color: #1a2a70;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    width: 85%;
    margin: auto;
    color: wheat;
    
}
#navbar{
    background-color: #484c61;
    border-top:4px solid wheat ;
    border-bottom:4px solid wheat ;
    margin: -4px;
    padding-bottom: 10px;
    padding-top: 13px;
    
}
#navbar::after{
    content: "";
    clear: both;
    display: table;
   
}


#navbar a{
    
    background-color: #1a2a70;
    padding: 10px;
    border: 4px solid snow;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    color:black;
 
}
#navbar a:hover{
    background-color: yellow;
}


@media only screen and (max-width: 377px) {
    #navbar a{
    
        background-color: #1a2a70;
        padding: 5px;
        border: 4px solid snow;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 800;
        color:black;
     
    }
    #navbar a{
        display: inline;
  
    }
}
@media only screen and (max-width:295px){
    #navbar a{
        padding: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
#banner {
    object-fit: fill;
    width: 100%;
    height: 170px;
    margin-left: -5px;
    margin-right: -5px;
    border: 2px solid snow;
}
@media only screen and (min-width:700px){
    #banner{
        height: 200px;
    }
}

@media only screen and (min-width:1024px){
    #banner{
        height: 290px;
    }
}
#mob{
    display: none;
}
#content{
    margin-top: 1px;
    background-color: #484c61;
    width:85%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 5px solid snow;
    border-radius: 5px;
    color:#d4dbf5;
    font-weight: 500;
    padding-bottom: 200px;
}

#content .hh2 {
    text-align: center;
}

#nxtbtn{
    vertical-align:middle ;
    line-height: 50px;
    float: left;
}
#nxtbtn a{
    background-color: #1a2a70;
    padding: 10px;
    border: 4px solid snow;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    color:black;

}
#nxtbtn a:hover{
    background-color: yellow;
}
#nextbtn{
    vertical-align:middle ;
    line-height: 50px;
    float: right;
}
#nextbtn a{
    background-color: #1a2a70;
    padding: 10px;
    border: 4px solid snow;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    color:black;

}
#nextbtn a:hover{
    background-color: yellow;
}

#jump{
    border: 3px solid;
    border-radius: 10px;
    background-color: #61667d;
    width: 35vw;
    padding-left: 10px;
    margin-left:auto;
    margin-right: auto;
    
}
@media only screen and (max-width:385px){
    #nextbtn a{
        padding: 5px;
    }
    #nxtbtn a{
        padding:5px;
    }
}
@media only screen and (max-width:689px){
    #jump{
        display: none;
    }
}

#jump a{
    text-decoration: none;
    color:#d4dbf5;
}

#lesson img{
    width:80vw;
    border: 3px solid gold;
}
@media only screen and (min-width:1000px){
    #lesson img{
        width:50%;
    }
}
#lesson iframe{
    width: 75vw;
    height: 50vw;
    border:2px solid gold;
}
#back a{
    color:#d4dbf5;
    text-align: center;
    text-decoration: none;
}
#back{
    background-color: #61667d;
    width: 30%;
    padding: 5px;
    border: 3px solid;
    border-radius: 3px;
    text-align: center;
    margin: auto;

}

